<div class="right">
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<br><br>
<div>
  <div class="content-container">
    <!--<mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>-->
    <div style="text-align: justify;">
        <span class="content-span full-width">{{data.message}}</span>
    </div>
  </div>
  <br>
  <div class="centrar">
    <button mat-raised-button color="primary" id="yes-button" [mat-dialog-close]="true">Aceptar</button>
  </div>
</div>