
<div class="container">
    <div class="form">
      <br>
      
  
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>
              NÚMERO DE CONTROL
            </th>
            <th>
              NAME
            </th>
            <th>
              CARRERA
            </th>
            <th>
              CORREO
            </th>
          </thead>
          <tbody>
            
  
            
          </tbody>
        </table>
        
      </div>
      
    </div>
    <footer class="page-footer font-small blue pt-2">
        <div class=" footer-copyright text-center py-3">
          <small id="">
            AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT. MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
          </small>
        </div>
      </footer>

<h2 style="text-align:center">Profile</h2>
<div class="card">
  <img src="/src/assets/imgs/profile.jpg" alt="John" style="width:100%">
  <h4>Credential: {{ credential }}</h4>
  <p class="title">Usuario: {{ user }}</p>
  <p>Alumno: {{ idAlumno }}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
 </div>
 <p><button>Contact</button></p>
</div>

