<div class="container">
    <div class="form">
      <br>
      
  
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>
              NÚMERO DE CONTROL
            </th>
            <th>
              NAME
            </th>
            <th>
              CARRERA
            </th>
            <th>
              CORREO
            </th>
          </thead>
          <tbody>
            
  
            
          </tbody>
        </table>
        
      </div>
      
    </div>
    <footer class="page-footer font-small blue pt-2">
        <div class=" footer-copyright text-center py-3">
          <small id="">
            AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT. MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
          </small>
        </div>
      </footer>