<h2 style="text-align:center">Profile</h2>
<div class="card">
  <img src="/src/assets/imgs/profile.jpg" alt="John" style="width:100%">
  <h4>Credential: {{ credential }}</h4>
  <p class="title">Usuario: {{ user }}</p>
  <p>Alumno: {{ idAlumno }}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
 </div>
 <p><button>Contact</button></p>
</div>
