<div class='login-block'>
  <div class="container">
    <div class='login-block'>
      <div class="container">

        <div class="row justify-content-center align-items-center">
          <div class="col-md-4 login-sec">
            <h2 class="text-center">
              Contrato con el Estudiante
            </h2>
          </div>

        </div>

        <img src="https://residenciainscripciones.000webhostapp.com/HEAD.png" class="img-fluid" alt="Responsive image">
        <br>
        <br>

        <div style="text-align: right;">
          <b>Fecha:</b> {{currentDate.getDay()}} <b>de</b> {{currentMonth}} <b>de</b> {{currentDate.getFullYear()}}.
        </div>
        <br>
        <div style="text-align:center;">
          <h5><b>Cláusulas</b></h5>
        </div>
        <div style="padding: 10px; float: left; width: 45%; text-align: justify;">
          <div>
            <dl>
              <dt><u>Compromisos de la Institución:</u></dt>

              <p>La Institución se compromete con el Estudiante a:</p>
              <dd>
                <ol>
              <dd>&#10003;Impartir, en igualdad de condiciones, para todos,
                la Educación Superior Tecnológica que ofrece el
                Instituto.</dd>
              <dd>&#10003;Entregar la documentación que lo identifique
                como Estudiante y la constancia de la
                escolaridad que haya acreditado en cada
                periodo.
              </dd>
              </ol>
              </dd>
              <dt>Proporcionar el Servicio Educativo integrado por:</dt>
              <p>FORMACIÓN PROFESIONAL</p>
              <dd>
                <ol>
              <dd>&#10003;Cumplir los contenidos de los planes y
                programas de estudio.
              </dd>

              <dd>&#10003;Fomentar la participación en actividades
                académicas, culturales y deportivas (Concursos de Ciencias Básicas,
                Creatividad, Emprendedores; Actividades Deportivas y
                Culturales).
              </dd>
              </ol>
              </dd>
              <p>PRÁCTICA DOCENTE</p>
              <dd>
                <ol>
              <dd>&#10003;Que el docente imparta y evalúe las asignaturas
                de acuerdo a lo establecido en el Manual de
                Procedimientos para la Acreditación de
                Asignaturas de los Planes y Programas de
                Estudio.
              </dd>
              </ol>
              </dd>

              <p>ATENCION EN VENTANILLA</p>
              <dd>
                <ol>
              <dd>&#10003;Proporcionar servicio eficaz
                (Servicios Escolares, Recursos Financieros) dentro de los
                horarios publicados para tal efecto.
              </dd>
              </ol>
              </dd>

              <p>SERVICIOS ESTUDIANTILES</p>
              <dd>
                <ol>
              <dd>&#10003;Proporcionar Servicios Estudiantiles a través de
                las Coordinaciones de Carrera de la División de
                Estudios Profesionales (Reinscripciones,
                Residencias Profesionales, Convalidaciones,
                Traslados, Orientación del Plan de Estudios).
              </dd>
              </ol>
              </dd>

              <p>SERVICIOS DE APOYO</p>
              <dd>
                <ol>
              <dd>&#10003;Proporcionar los medios para que el Estudiante
                realice Visitas a Empresas. Este apoyo estará
                determinado por el Programa de Estudios y el
                Presupuesto Autorizado para tal efecto.
              </dd>

              </ol>
              </dd>

              <br>

              <div style="text-align: center;">
                <b><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Lic. Manuel Angel Uribe Vázquez
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></b><br>
                <b>DIRECTOR DEL PLANTEL</b>
              </div>


            </dl>
            
          </div>

        </div>

        <div style="padding: 10px; float: right; width: 45%; text-align: justify;">

          <dl>


            <p>&#10003; Proporcionar los Servicios de Computo con que
              cuenta el plantel, así como los servicios del
              Centro de Información (préstamo interno y
              externo de material bibliográfico) dentro de los
              horarios establecidos.
            </p>

            <br><br><br><br><br>
            <dt><u>Compromisos del Estudiante:</u></dt>
            <p>El Estudiante se compromete con la Institución a:</p>

            <p>&#10003; Cubrir los requisitos de ingreso que marca la
              Institución.
            </p>
            <p>&#10003; Cumplir con la totalidad de los requisitos
              previstos en el plan de estudios respectivos.
            </p>
            <p>&#10003; Acreditar las asignaturas de acuerdo al Manual
              de Procedimientos para la Acreditación de
              Asignaturas de los Planes y Programas de
              Estudio.
            </p>
            <p>&#10003; Hacer buen uso de los edificios, mobiliario,
              material didáctico, equipos, libros y demás
              bienes del Instituto, coadyuvando en su
              conservación y limpieza.
            </p>
            <p>&#10003; Cumplir el Reglamento Escolar de los Institutos
              Tecnológicos.
            </p>
            <p>&#10003; Cumplir con las disposiciones reglamentarias
              que la Institución establezca.
            </p>
            <p>&#10003; Autorizar la entrega de calificaciones a padres o
              tutores.
            </p>
            <p>&#10003; Presentar permiso firmado por padre, madre o
              tutor antes de realizar alguna visita o
              participación foránea a eventos académicos
              culturales y/o deportivos de la Institución.
            </p>
            <p>&#10003; Presentar permiso firmado por padre, madre o
              tutor antes de realizar alguna visita o
              participación foránea a eventos académicos
              culturales y/o deportivos de la Institución.
            </p>
            <p>&#10003; Revisar las calificaciones en el Sistema Integral
              de Información, previo a la reinscripción.
            </p>

            <br><br><br> <br><br>

            <div style="text-align: center;">
              <b><u>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{fieldFirstName}}&nbsp;{{fieldLastNameFather}}&nbsp;{{fieldLastNameMother}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </u></b><br>
              <b>NOMBRE Y FIRMA DEL ESTUDIANTE</b>
            </div>

          </dl>

        </div>
        <!-- <img src="https://novaresidencia.000webhostapp.com/imagenes/Footer.png" class="img-fluid" alt="Responsive image">-->
        
        <img src="https://residenciainscripciones.000webhostapp.com/Footer1.png" class="img-fluid" alt="Responsive image">
        <br><br>

        <div style="text-align:center;">
          <mat-checkbox style="text-align:center;" [checked]="acceptedTerms" (change)="onChange($event);">Acepto los terminos y condiciones.</mat-checkbox>

        </div>

      </div>
    </div>