<mat-horizontal-stepper [linear]='true' #stepper *ngIf="alumnoStatus==='En captura'">
  <mat-step editable='false' [completed]='stepOneCompleted'>
    <ng-template matStepLabel>Paso 1</ng-template>
    <h2>Paso 1.- Formulario.</h2>
    <app-formulario-registro-alumno></app-formulario-registro-alumno>
    <br>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'>
            <span class="float-right">
              <button matStepperNext class='btn btn-outline-primary btn-lg' (click)='updateAlumno()'>Siguiente</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    </mat-step>

  <mat-step editable='false' [completed]='stepTwoCompleted'>
    <ng-template matStepLabel>Paso 2</ng-template>
    <h2>Paso 2.- Documentos.</h2>
    <app-carga-documentos></app-carga-documentos>
    <br>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'>
            <span class="float-right">
              <button matStepperNext class='btn btn-outline-primary btn-lg' (click)='checkStepTwo()'>Siguiente</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step editable='false' [completed]='stepThreeCompleted'>
    <ng-template matStepLabel>Paso 3</ng-template>
    <h2>Paso 3.- Contrato con el estudiante.</h2>
    <app-contrato></app-contrato>
    <br>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'>
            <span class="float-right">
              <button matStepperNext class='btn btn-outline-primary btn-lg' (click)='checkStepThree()'>Siguiente</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step editable='false' >
    <ng-template matStepLabel>Paso 4</ng-template>
    <h2>Paso 4.- Resumen.</h2>
    <app-resumen></app-resumen>
    <br>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'>
            <span class="float-right">
              <button matStepperNext class='btn btn-outline-primary btn-lg' (click)='checkStepFour()'>Siguiente</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step editable='false' >
    <ng-template matStepLabel>Paso 5</ng-template>
    <h2>Paso 5.- Confirmación.</h2>
    <app-template-wizard></app-template-wizard>
    <br>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'></div>
          <div class='col-3'>
            <span class="float-right">
                <button class='btn btn-outline-primary btn-lg' (click)="stepper.reset(); resetSteps();">Regresar</button>
                <button class='btn btn-outline-primary btn-lg' (click)="finishSteps()" [routerLink]="['/wizard-success']">Terminar</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
