<mat-horizontal-stepper [linear]='true' #stepper>
  <mat-step editable='false' [completed]='stepOneCompleted'>
    <ng-template matStepLabel>Paso 1</ng-template>
    <h2>Paso 1.- Formulario.</h2>
    <app-formulario-registro-alumno></app-formulario-registro-alumno>
    <br>
    <div class='card'>
      <div class='card-body'>
          <button mat-button matStepperNext class='btn btn-outline-primary btn-lg' (click)='updateAlumno()'>Siguiente</button>
      </div>
    </div>
    </mat-step>

  <mat-step editable='false' [completed]='stepTwoCompleted'>
    <ng-template matStepLabel>Paso 2</ng-template>
    <h2>Paso 2.- Documentos.</h2>
    <app-carga-documentos></app-carga-documentos>
    <br>
    <button mat-button matStepperNext class='btn btn-outline-primary btn-lg' (click)='checkStepTwo()'>Siguiente</button>
  </mat-step>

  <mat-step editable='false' >
    <ng-template matStepLabel>Paso 3</ng-template>
    <h2>Paso 3.- Contrato con el estudiante.</h2>
    <app-contrato></app-contrato>
    <br>
    <button mat-button matStepperNext class='btn btn-outline-primary btn-lg'>Siguiente</button>
  </mat-step>

  <mat-step editable='false' >
    <ng-template matStepLabel>Paso 4</ng-template>
    <h2>Paso 4.- Resumen.</h2>
    <br>
    <button mat-button matStepperNext class='btn btn-outline-primary btn-lg'>Siguiente</button>
  </mat-step>

  <mat-step editable='false' >
    <ng-template matStepLabel>Paso 5</ng-template>
    <h2>Paso 5.- Confirmación.</h2>
    <br>
    <button class='btn btn-outline-primary btn-lg' (click)="stepper.reset()">Regresar</button>
    <button class='btn btn-outline-primary btn-lg' [routerLink]="['/wizard-success']">Terminar</button>
  </mat-step>
</mat-horizontal-stepper>
