<mat-dialog-content class="mat-typography">
    <div class="right">
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon class="right">close</mat-icon>
        </button>
    </div>
    <h2 style="text-align:center;">Status</h2>
    <mat-tab-group>
        <mat-tab>
            <br>
            <h4>Status del documento</h4>
            <mat-form-field>
                <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                    <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                        {{formulario.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
                <input matInput placeholder="Introduzca una observación sobre el documento"
                [(ngModel)]="observacion" name="observacion">
            </mat-form-field>

        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<br>
<div class="right">
  <div class="example-button-row">
    <button mat-button (click)="exit()">Cancelar</button>
    <button mat-raised-button (click)="validateForm()" color="primary" >Guardar</button>
  </div>
</div>
