<div class="container">
  <form>
    <br>
    <br>
    <br>
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-primary">Bienvenido(a)</h1>
        <h6>Éste módulo permite realizar las operaciones básicas para los procesos internos de inscripción.</h6>
        <br>
        <img src="/src/assets/imgs/tectepic.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
    <footer class="page-footer font-small blue pt-4">
      <div class=" footer-copyright text-center py-3">
        <small id="">
          AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT. MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
        </small>
      </div>
    </footer>
  </form>
</div>