
<div class="container">
  <form>
    <br>
    <br>
    <br>
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase text-primary">Bienvenido(a)</h1>
        <h6>Éste módulo permite realizar las operaciones básicas para los procesos internos de inscripción.</h6>
        <br>
        <img src="/src/assets/imgs/tectepic.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
    <footer class="page-footer font-small blue pt-4">
      <div class=" footer-copyright text-center py-3">
        <small id="">
          AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT. MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
        </small>
      </div>
    </footer>
  </form>
</div>

<div class="customCard">
  <section class="login-block">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-4 login-sec">
          <h2 class="text-center">Bienvenido</h2>
          <form class="login-form">
            <div class="form-group">
              <label ><b>El Instituto Tecnológico de Tepic (ITT), es una institución pública de educación <br>
                superior fundado el 1 de octubre de 1975. Ofrece carreras de nivel licenciatura y posgrado.<br>
                <br>
                El Instituto Tecnológico de Tepic es un centro que se ha convertido en vanguardia de <br>
                educación superior tecnológica en el Estado de Nayarit, no sólo contribuyendo en la <br>
                formación integral de profesionales técnicos que reclama el sector productivo de <br>
                bienes y servicios en la entidad y la región; sino también fomentando la vinculación <br>
                permanente escuela-empresa, la investigación científica y el desarrollo tecnológico.</b></label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer class="page-footer font-small blue pt-4">
      <div class=" footer-copyright text-center py-3">
        <small id="">
          AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT.
          MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
        </small>
      </div>
    </footer>
  <!--
  <div class="container">
    <form>
      <br />
      <br />
      <br />
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase text-primary">
            Bienvenido(a)
          </h1>
          <h6>
            Éste módulo permite realizar las operaciones básicas para los
            procesos internos de inscripción.
          </h6>
          <br />
          <img
            src="/src/assets/imgs/tectepic.jpg"
            class="img-fluid"
            alt="Responsive image"
          />
        </div>
      </div>
      <footer class="page-footer font-small blue pt-4">
        <div class=" footer-copyright text-center py-3">
          <small id="">
            AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT.
            MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
          </small>
        </div>
      </footer>
    </form>
  </div>-->
</div>
