<div class='login-block'>
  <div class="container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- secreFullName Column -->
      <ng-container matColumnDef="secreFullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Secretaria </th>
        <td mat-cell *matCellDef="let row">{{row.movement_secretaria[0].firstName}} {{row.movement_secretaria[0].lastNameFather}} {{row.movement_secretaria[0].lastNameMother}}</td>
      </ng-container>
      <!-- alumnoFullName Column -->
      <ng-container matColumnDef="alumnoFullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alumno Modificado </th>
        <td mat-cell *matCellDef="let row">{{row.movement_alumno[0].firstName}} {{row.movement_alumno[0].lastNameFather}} {{row.movement_alumno[0].lastNameMother}}</td>
      </ng-container>
      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción realizada </th>
        <td mat-cell *matCellDef="let row">{{row.action}}</td>
      </ng-container>
      <!-- dateModificationServer Column -->
      <ng-container matColumnDef="dateModificationServer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de modificación (Servidor) </th>
        <td mat-cell *matCellDef="let row">{{row.dateModificationServer}}</td>
      </ng-container>
      <!-- document Column -->
      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
        <td mat-cell *matCellDef="let row">{{row.document}}</td>
      </ng-container>
      <!-- dataModified Column -->
      <ng-container matColumnDef="dataModified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Información modificada </th>
        <td mat-cell *matCellDef="let row">{{row.dataModified}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>