<div class='login-block'>
  <div class="container">

    <br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <mat-card class="example-card" *ngIf="currentAlumnoData.statusInscripcion === 'Enviado'">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Expediente enviado</mat-card-title>
            <mat-card-subtitle>Leer con atención</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              El proceso de registro ha sido completado exitosamente. No obstante, es importante resaltar que
              se debe esperar una verificación para concretar el procedimiento.
              Debe estar al pendiente de la retroalimentación proporcionada en el sitio.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="currentAlumnoData.statusInscripcion == 'En captura'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Enviado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Validado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Aceptado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
            </mat-chip-list>
          </mat-card-footer>
        </mat-card>
        <mat-card class="example-card" *ngIf="currentAlumnoData.statusInscripcion === 'Aceptado'">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Expediente aceptado</mat-card-title>
            <mat-card-subtitle>Leer con atención</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              El proceso de registro ha sido completado exitosamente.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="currentAlumnoData.statusInscripcion == 'En captura'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Enviado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Validado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Aceptado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
            </mat-chip-list>
          </mat-card-footer>
        </mat-card>
        <mat-card class="example-card" *ngIf="currentAlumnoData.statusInscripcion === 'Validado'">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Expediente validado</mat-card-title>
            <mat-card-subtitle>Leer con atención</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              La documentación enviada ha sido validada por las autoridades correspondientes. Sin embargo,
              aún es necesario que sean aceptados por el jefe del departamente de servicios escolares. Por favor
              mantenerse al pendiente.
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="currentAlumnoData.statusInscripcion == 'En captura'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Enviado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Validado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="currentAlumnoData.statusInscripcion == 'Aceptado'">{{currentAlumnoData.statusInscripcion}}</mat-chip>
            </mat-chip-list>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-3"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>NSS</mat-card-title>
            <mat-card-subtitle>{{documentation[0].observacion}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[0].status=='Rechazado' || documentation[0].status=='En captura'" id="dz0"
              [config]="config" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[0].status == 'En captura'">{{documentation[0].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[0].status == 'Rechazado'">{{documentation[0].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[0].status == 'Validado'">{{documentation[0].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[0].status == 'Aceptado'">{{documentation[0].status}}</mat-chip>
            </mat-chip-list>
          </mat-card-content>
          <label id="link" name="lblNSS" style="text-align: center;"><a id="refNSS" target="_self" download="NSS.pdf"
              (click)="loadLink()">
              <img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png">
            </a></label>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>CURP</mat-card-title>
            <mat-card-subtitle>{{documentation[1].observacion}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[1].status=='Rechazado' || documentation[1].status=='En captura'" id="dz1"
              [config]="config1" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[1].status == 'En captura'">{{documentation[1].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[1].status == 'Rechazado'">{{documentation[1].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[1].status == 'Validado'">{{documentation[1].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[1].status == 'Aceptado'">{{documentation[1].status}}</mat-chip>
            </mat-chip-list>
            <label id="link" name="lblCURP"><a id="refCURP" target="_self" download="CURP.pdf" (click)="loadLink()">
                <br><img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png"></a></label>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>ACTA</mat-card-title>
            <mat-card-subtitle>{{documentation[2].observacion}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[2].status=='Rechazado' || documentation[2].status=='En captura'" id="dz2"
              [config]="config2" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[2].status == 'En captura'">{{documentation[2].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[2].status == 'Rechazado'">{{documentation[2].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[2].status == 'Validado'">{{documentation[2].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[2].status == 'Aceptado'">{{documentation[2].status}}</mat-chip>
            </mat-chip-list>
            <label id="link" name="lblACTA"><a id="refACTA" target="_self" download="ACTA.pdf" (click)="loadLink()">
                <br><img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png"></a></label>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>CLINICOS</mat-card-title>
            <mat-card-subtitle>{{documentation[3].observacion}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[3].status=='Rechazado' || documentation[3].status=='En captura'" id="dz3"
              [config]="config3" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[3].status == 'En captura'">{{documentation[3].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[3].status == 'Rechazado'">{{documentation[3].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[3].status == 'Validado'">{{documentation[3].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[3].status == 'Aceptado'">{{documentation[3].status}}</mat-chip>
            </mat-chip-list>
            <label id="link" name="lblCLINICOS"><a id="refCLINICOS" target="_self" download="CLINICOS.pdf" (click)="loadLink()">
                <br><img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png"></a></label>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>CERTIFICADO</mat-card-title>
            <mat-card-subtitle>{{documentation[4].observacion}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[4].status=='Rechazado' || documentation[4].status=='En captura'" id="dz4"
              [config]="config4" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[4].status == 'En captura'">{{documentation[4].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[4].status == 'Rechazado'">{{documentation[4].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[4].status == 'Validado'">{{documentation[4].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[4].status == 'Aceptado'">{{documentation[4].status}}</mat-chip>
            </mat-chip-list>
            <label id="link" name="lblCERTIFICADO"><a id="refCERTIFICADO" target="_self" download="CERTIFICADO.pdf"
                (click)="loadLink()">
                <br><img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png"></a></label>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>COMPROBANTE</mat-card-title>
            <mat-card-subtitle>{{documentation[5].observacion}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[5].status=='Rechazado' || documentation[5].status=='En captura'" id="dz5"
              [config]="config5" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[5].status == 'En captura'">{{documentation[5].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[5].status == 'Rechazado'">{{documentation[5].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[5].status == 'Validado'">{{documentation[5].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[5].status == 'Aceptado'">{{documentation[5].status}}</mat-chip>
            </mat-chip-list>
            <label id="link" name="lblCOMPROBANTE"><a id="refCOMPROBANTE" target="_self" download="COMPROBANTE.pdf"
                (click)="loadLink()">
                <br><img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png"></a></label>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>FORMULARIO</mat-card-title>
            <mat-card-subtitle>{{documentation[6].observacion}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[6].status=='Rechazado' || documentation[6].status=='En captura'" id="dz6"
              [config]="config6" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[6].status == 'En captura'">{{documentation[6].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[6].status == 'Rechazado'">{{documentation[6].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[6].status == 'Validado'">{{documentation[6].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[6].status == 'Aceptado'">{{documentation[6].status}}</mat-chip>
            </mat-chip-list>
            <label id="link" name="lblCOMPROBANTE"><a id="refFORMULARIO" target="_self" download="FORMULARIO.pdf"
                (click)="loadLink()">
                <br><img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png"></a></label>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>FOTO</mat-card-title>
            <mat-card-subtitle>{{documentation[7].observacion}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dropzone *ngIf="documentation[7].status=='Rechazado' || documentation[7].status=='En captura'" id="dz7"
              [config]="config7" [message]="'Haga click o arrastre archivos aquí para subirlos'" (error)="onErrorCommon($event)"
              (success)="onUploadSuccess($event)" matTooltip="Reemplazar Archivo"></dropzone>
            <mat-chip-list>
              <mat-chip style="background-color: #f7db13;" selected *ngIf="documentation[7].status == 'En captura'">{{documentation[7].status}}</mat-chip>
              <mat-chip style="background-color: red;" selected *ngIf="documentation[7].status == 'Rechazado'">{{documentation[7].status}}</mat-chip>
              <mat-chip style="background-color: darkgreen;" selected *ngIf="documentation[7].status == 'Validado'">{{documentation[7].status}}</mat-chip>
              <mat-chip style="background-color: black;" selected *ngIf="documentation[7].status == 'Aceptado'">{{documentation[7].status}}</mat-chip>
            </mat-chip-list>
            <label id="link" name="lblCOMPROBANTE"><a id="refFOTO" download="FOTO.png" (click)="loadLink()">
                <br><img src="https://novaresidencia.000webhostapp.com/imagenes/download_icon.png"></a></label>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>

  </div>
</div>