<div class="container">
  <br>
  <p class="text-center">
    <b>SOLICITUD DE INSCRIPCIÓN</b>
  </p>
  <br>
  <form>
    <div class="form-group">
      <label for="txtNombre">NOMBRE</label>
      <input type="text" class="form-control" id="txtNombre" placeholder="NOMBRE" [(ngModel)]="fieldName" name="fieldName">
      <p class="text-center">
        <b>(apellido paterno, apellido materno, nombre(s))</b>
      </p>
    </div>

    <br>
    <div class="form-group">
      <label for="txtLugarNacimiento">LUGAR DE NACIMIENTO</label>
      <input type="text" class="form-control" id="txtLugarNacimiento" placeholder="LUGAR DE NACIMIENTO" [(ngModel)]="fieldPlaceBirth" name="fieldPlaceBirth">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="txtFecha">FECHA DE NACIMIENTO</label>
        <input type="date" class="form-control" id="txtFecha" placeholder="FECHA DE NACIMIENTO" [(ngModel)]="fieldDateBirth" name="fieldDateBirth">
      </div>


        <div class="form-group col-md-6" >
          <label for="selectEstadoCivil">ESTADO CIVIL</label>
          <select class="custom-select mr-sm-2" id="selectEstadoCivil" [(ngModel)]="fieldStatusCivil" name="fieldStatusCivil">
            <option selected value="0">Soltero/a</option>
            <option value="1">Comprometido/a</option>
            <option value="2">Casado/a</option>
            <option value="3">Divorsiado/a</option>
            <option value="4">Viudo/a</option>

          </select>
        </div>

    </div>

    <br>
    <p>
      <b>DIRECCIÓN:</b>
    </p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="txtCalle">CALLE</label>
        <input type="text" class="form-control" id="txtCalle"  placeholder="CALLE" [(ngModel)]="fieldStreet" name="fieldStreet" >
      </div>
      <div class="form-group col-md-6">
        <label for="txtColonia">COLONIA</label>
        <input type="text" class="form-control" id="txtColonia"  placeholder="COLONIA" [(ngModel)]="fieldColony" name="fieldColony">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="txtCiudad">CIUDAD</label>
        <input type="text" class="form-control" id="txtCiudad" placeholder="CIUDAD" [(ngModel)]="fieldCity" name="fieldCity">
      </div>
      <div class="form-group col-md-6">
        <label for="txtEstado">ESTADO</label>
        <input type="text" class="form-control" id="txtEstado" placeholder="ESTADO" [(ngModel)]="fieldState" name="fieldState">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="txtCodigoPostal">CÓDIGO POSTAL</label>
        <input type="number" class="form-control" id="txtCodigoPostal" placeholder="CÓDIGO POSTAL" [(ngModel)]="fieldPostalCode" name="fieldPostalCode">
      </div>
      <div class="form-group col-md-6">
        <label for="txtTelefono">TELÉFONO</label>
        <input type="number" class="form-control" id="txtTelefono"  placeholder="TELÉFONO" [(ngModel)]="fieldPhone" name="fieldPhone">
      </div>
    </div>

    <div class="form-group">
      <label for="txtEmail">CORREO ELECTRÓNICO</label>
      <input type="email" class="form-control" placeholder="Ingrese Correo" [(ngModel)]="fieldEmail" name="fieldEmail">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="selectEtnia">¿PERTENECES A ALGUNA ETNIA?</label>
        <select class="custom-select mr-sm-2" id="selectEtnia" [(ngModel)]="fieldEtnia" name="fieldEtnia">
          <option selected>SI</option>
          <option>NO</option>

        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="txtCualEtnia">¿CUÁL?</label>
        <input type="text" class="form-control" id="txtCualEtnia" placeholder="Introducir ETNIA" [(ngModel)]="fieldOtherEtnia" name="fieldOtherEtnia">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="selectDiscapacidad">¿TIENES ALGUNA DISCAPACIDAD?</label>
        <select class="custom-select mr-sm-2" id="selectDiscapacidad" [(ngModel)]="fieldDisability" name="fieldDisability">
          <option selected>SI</option>
          <option value="1">NO</option>

        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="txtDiscapacidad">¿CUÁL?</label>
        <input type="text" class="form-control" id="txtDiscapacidad" placeholder="Introducir DISCAPACIDAD" [(ngModel)]="fieldWhichDisability" name="fieldWhichDisability" >
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="selectEscuelaDeProcedencia">ESCUELA DE PROCEDENCIA</label>
        <select class="custom-select mr-sm-2" id="selectEscuelaDeProcedencia"  [(ngModel)]="fieldSchool" name="fieldSchool">
          <option selected value="0">CONALEP</option>
          <option value="1">CETIS</option>
          <option value="2">CBTIS</option>
          <option value="3">CBTa</option>
          <option value="4">COBACH</option>
          <option value="5">Cecyte</option>
          <option value="6">Preparatoria</option>
          <option value="7">Sistema Abierto</option>
          <option value="8">Otra</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="txtOtraEscuela">OTRA</label>
        <input type="text" class="form-control" id="txtOtraEscuela" placeholder="Introducir Escuela" [(ngModel)]="fieldOtherSchool" name="fieldOtherSchool" >
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-xs-12 col-md-8">
        <label for="txtNombreEscuela">NOMBRE DE LA ESCUELA</label>
        <input type="text" class="form-control" id="txtNombreEscuela" placeholder="ESCUELA" [(ngModel)]="fieldNameSchool" name="fieldNameSchool" >
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <label for="txtPromedio">PROMEDIO</label>
        <input type="number" class="form-control" id="txtPromedio" placeholder="PROMEDIO" [(ngModel)]="fieldAverage" name="fieldAverage" >
      </div>
    </div>

    <div class="form-group">
      <label for="selectCarrera">
        <b>CARRERA A CURSAR</b>
      </label>
      <select id="selectCarrera" class="form-control" [(ngModel)]="fieldCareer" name="fieldCareer" >
        <option selected value="0">Arquitectura</option>
        <option value="1">Ingeniería Bioquímica</option>
        <option value="2">Ingeniería Civil</option>
        <option value="3">Ingeniería Eléctrica</option>
        <option value="4">Ingeniería en Gestión Empresarial</option>
        <option value="5">Ingeniería Industrial</option>
        <option value="6">Ingeniería Mecatrónica</option>
        <option value="7">Ingeniería Química</option>
        <option value="8">Ingeniería en Sistemas Computacionales</option>
        <option value="9">Ingeniería en Tecnología de la Información y Comunicaciones</option>
        <option value="10">Licenciatura en Administración</option>
        <option value="11">Maestría en Ciencias en Alimentos</option>
        <option value="12">Doctorado en Ciencias en Alimentos</option>

      </select>

    </div>

    <br>
    <button type="button" (click)="updateAlumno()" class="btn btn-primary btn-block  form-control">Actualizar información</button>
    <br>
    <br>
    <div class="text-center">
      <small id="passwordHelpBlock">
        AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT. MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
      </small>
    </div>


  </form>
</div>
