<div class='login-block'>
  <div class="container">
    <div class='login-block'>
      <div class="container">

        <div class="row justify-content-center align-items-center">
          <div class="col-md-4 login-sec">
            <h2 class="text-center">
              Resúmen
            </h2>
          </div>

        </div>

        <mat-tab-group>
          <mat-tab label="Solícitud de Inscripción">
            <br>
            <div class="card">
              <div class="card-body">
                <p>
                  <b>DATOS GENERALES</b>
                </p>
                <div class="form-row">
                  <div class="form-group col-xs-6 col-md-4">
                    <label for="txtApellidoPaterno">APELLIDO PATERNO</label>
                    <label type="text" class="form-control" id="txtApellidoPaterno" name="fieldLastNameFather"
                      placeholder="test">Gallegos</label>
                  </div>
                  <div class="form-group col-xs-6 col-md-4">
                    <label for="txtApellidoMaterno">APELLIDO MATERNO</label>
                    <label type="text" class="form-control" id="txtApellidoMaterno" name="fieldLastNameMother">Godinez</label>
                  </div>
                  <div class="form-group col-xs-6 col-md-4">
                    <label for="txtNombre">NOMBRE(S)</label>
                    <label type="text" class="form-control" id="txtNombre" name="fieldFirstName">Francisco Javier</label>
                  </div>
                </div>

                <br>
                <div class="form-group">
                  <label for="txtLugarNacimiento">LUGAR DE NACIMIENTO</label>
                  <label type="text" class="form-control" id="txtLugarNacimiento" name="fieldPlaceBirth"></label>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="txtFecha">FECHA DE NACIMIENTO</label>
                    <label type="text" class="form-control" id="txtFecha" name="fieldDateBirth"></label>
                  </div>


                  <div class="form-group col-md-6">
                    <label for="selectEstadoCivil">ESTADO CIVIL</label>
                    <label type="text" class="form-control" id="selectEstadoCivil" name="fieldStatusCivil"></label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="txtEmail">CORREO ELECTRÓNICO</label>
                  <label type="text" class="form-control" name="fieldEmail"></label>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="txtCurp">CURP</label>
                    <label type="text" class="form-control" name="fieldCURP"></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="txtNSS">NSS(NÚMERO DE SEGURO SOCIAL)</label>
                    <label type="text" class="form-control" name="fieldNSS"></label>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class="card">
              <div class="card-body">
                <p>
                  <b>DIRECCIÓN</b>
                </p>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="txtCalle">CALLE</label>
                    <label type="text" class="form-control" name="fieldStreet"></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="txtColonia">COLONIA</label>
                    <label type="text" class="form-control" name="fieldColony"></label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="txtCiudad">CIUDAD</label>
                    <label type="text" class="form-control" name="fieldCity"></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="txtEstado">ESTADO</label>
                    <label type="text" class="form-control" name="fieldState"></label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="txtCodigoPostal">CÓDIGO POSTAL</label>
                    <label type="text" class="form-control" name="fieldPostalCode"></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="txtTelefono">TELÉFONO</label>
                    <label type="text" class="form-control" name="fieldPhone"></label>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class="card">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="selectEtnia">¿PERTENECES A ALGUNA ETNIA?</label>
                    <label type="text" class="form-control" name="fieldEtnia"></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="txtCualEtnia">¿CUÁL?</label>
                    <label type="text" class="form-control" name="fieldOtherEtnia"></label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="selectDiscapacidad">¿TIENES ALGUNA DISCAPACIDAD?</label>
                    <label type="text" class="form-control" name="fieldDisability"></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="txtDiscapacidad">¿CUÁL?</label>
                    <label type="text" class="form-control" name="fieldWhichDisability"></label>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class="card">
              <div class="card-body">
                <p>
                  <b>DATOS ACADÉMICOS:</b>
                </p>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="selectEscuelaDeProcedencia">ESCUELA DE PROCEDENCIA</label>
                    <label type="text" class="form-control" name="fieldSchool"></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="txtOtraEscuela">OTRA</label>
                    <label type="text" class="form-control" name="fieldOtherSchool"></label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-xs-12 col-md-8">
                    <label for="txtNombreEscuela">NOMBRE DE LA ESCUELA</label>
                    <label type="text" class="form-control" name="fieldNameSchool"></label>
                  </div>
                  <div class="form-group col-xs-6 col-md-4">
                    <label for="txtPromedio">PROMEDIO</label>
                    <label type="text" class="form-control" name="fieldAverage"></label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="selectCarrera">
                    <b>CARRERA A CURSAR</b>
                  </label>
                  <label type="text" class="form-control" name="fieldCareer"></label>
                </div>
              </div>
            </div>


          </mat-tab>

          <mat-tab label="Solícitud de Documentos">
            <br>
            <div class='row'>
              <div class='col-md-6'>
                <div class='card'>
                  <div class='card-header'>
                    <label for="lblCertificado"><b>CERTIFICADO DE BACHILLERATO O EQUIVALENTE</b></label>

                  </div>
                  <div class='card-body'>
                    <label name="lblCertificado">Enlace de documento</label><br>
                  </div>
                </div>
              </div>

              <div class='col-md-6'>
                <div class='card'>
                  <div class='card-header'>
                    <label for="lblActaNacimiento"><b>ACTA DE NACIMIENTO</b></label>
                  </div>
                  <div class='card-body'>
                    <label name="lblActaNacimiento">Enlace de documento</label><br>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class='row'>
              <div class='col-md-6'>
                <div class='card'>
                  <div class='card-header'>
                    <label for="lblCURP"><b>CURP</b></label>
                  </div>
                  <div class='card-body'>
                    <label name="lblCURP">Enlace de documento</label><br>
                  </div>
                </div>
              </div>
              <div class='col-md-6'>
                <div class='card'>
                  <div class='card-header'>
                    <label for="lblComprobante"><b>COPIA DEL COMPROBANTE DE PAGO DE INSCRIPCIÓN</b></label>
                  </div>
                  <div class='card-body'>
                    <label name="lblComprobante">Enlace de documento</label><br>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class='row'>
              <div class='col-md-6'>
                <div class='card'>
                  <div class='card-header'>
                    <label for="lblAnalisis"><b>RESULTADO DE ANÁLISIS CLÍNICOS</b></label>
                  </div>
                  <div class='card-body'>
                    <label name="lblAnalisis">Enlace de documento</label><br>
                  </div>
                </div>
              </div>
              <div class='col-md-6'>
                <div class='card'>
                  <div class='card-header'>
                    <label for="lblNSS"><b>NSS</b></label>
                  </div>
                  <div class='card-body'>
                    <label name="lblNSS">Enlace de documento</label><br>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class='row'>
              <div class='col-md-12'>
                <div class='card'>
                  <div class='card-header'>
                    <label for="lblFoto"><b>FOTOGRAFÍA</b></label>
                  </div>
                  <div class='card-body'>
                    <label name="lblFoto">Enlace de documento</label><br>
                  </div>
                </div>    
              </div>  
            </div>  

          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>