<mat-dialog-content class="mat-typography">
        
<div class='login-block'>
    <div class="container">
      <div class='login-block'>
        <div class="container">

          <div class="row justify-content-center align-items-center">
            <div class="col-md-4 login-sec">
              <h2 class="text-center">
                Resúmen
              </h2>
            </div>

          </div>

          <mat-tab-group>
            <mat-tab label="Solícitud de Inscripción">

              <br>
              <div class="card">
                <div class="card-body">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <p>
                        <b>DATOS GENERALES</b>
                      </p>


                      <div>
                        <label for="txtNombre"><b>Nombre:</b>&nbsp;</label>
                        <label type="text" id="txtNombre">{{fieldFirstName}} {{fieldLastNameFather}} {{fieldLastNameMother}}</label>
                      </div>

                      <div>
                        <label for="txtLugarNacimiento"><b>Lugar de Nacimiento:</b>&nbsp;</label>
                        <label type="text" id="txtLugarNacimiento" name="fieldPlaceBirth"></label>
                      </div>


                      <div>
                        <label for="txtFecha"><b>Fecha de Nacimiento:</b>&nbsp;</label>
                        <label type="text" id="txtFecha" name="fieldDateBirth">13/09/94</label>
                      </div>


                      <div>
                        <label for="selectEstadoCivil"><b>Estado Civil:</b>&nbsp;</label>
                        <label type="text" id="selectEstadoCivil" name="fieldStatusCivil">Soltero</label>
                      </div>


                      <div>
                        <label for="txtEmail"><b>Correo Electrónico:</b>&nbsp;</label>
                        <label type="text" name="fieldEmail">frjagallegosgo@ittepic.edu.mx</label>
                      </div>

                      <div>
                        <div>
                          <label for="txtCurp"><b>CURP:</b>&nbsp;</label>
                          <label type="text" name="fieldCURP">GAGF940913HNTLDR09</label>
                        </div>
                        <div>
                          <label for="txtNSS"><b>NSS(Número de Seguro Social):</b>&nbsp;</label>
                          <label type="text" name="fieldNSS">55139423242</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <p>
                        <b>DIRECCIÓN</b>
                      </p>
                      <div>
                        <div>
                          <label for="txtCalle"><b>Calle:</b>&nbsp;</label>
                          <label type="text" name="fieldStreet">Emiliano Zapata #977-B</label>
                        </div>
                        <div>
                          <label for="txtColonia"><b>Colonia:</b>&nbsp;</label>
                          <label type="text" name="fieldColony">Lomas Altas</label>
                        </div>
                      </div>

                      <div>
                        <div>
                          <label for="txtCiudad"><b>Ciudad:</b>&nbsp;</label>
                          <label type="text" name="fieldCity">Tepic</label>
                        </div>
                        <div>
                          <label for="txtEstado"><b>Estado:</b>&nbsp;</label>
                          <label type="text" name="fieldState">Nayarit</label>
                        </div>
                      </div>

                      <div>
                        <div>
                          <label for="txtCodigoPostal"><b>Código Postal:</b>&nbsp;</label>
                          <label type="text" name="fieldPostalCode">63061</label>
                        </div>
                        <div>
                          <label for="txtTelefono"><b>Teléfono:</b>&nbsp;</label>
                          <label type="text" name="fieldPhone">3111591173</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br><br>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div>
                        <div>
                          <label for="selectEtnia"><b>¿Perteneces a alguna Etnia?</b>&nbsp;</label>
                          <label type="text" name="fieldEtnia">No</label>
                        </div>
                        <div>
                          <label for="txtCualEtnia"><b>¿Cuál?</b>&nbsp;</label>
                          <label type="text" name="fieldOtherEtnia">Ninguna</label>
                        </div>
                      </div>

                      <div>
                        <div>
                          <label for="selectDiscapacidad"><b>¿Tienes alguna Discapacidad?</b>&nbsp;</label>
                          <label type="text" name="fieldDisability">No</label>
                        </div>
                        <div>
                          <label for="txtDiscapacidad"><b>¿Cuál?</b>&nbsp;</label>
                          <label type="text" name="fieldWhichDisability">Ninguna</label>
                        </div>
                      </div>
                    </div>


                    <div class="form-group col-md-6">
                      <p>
                        <b>DATOS ACADÉMICOS</b>
                      </p>
                      <div>
                        <div>
                          <label for="selectEscuelaDeProcedencia"><b>Escuela de Procedencia:</b>&nbsp;</label>
                          <label type="text" name="fieldSchool">Conalep Tepic 169</label>
                        </div>
                        <div>
                          <label for="txtOtraEscuela"><b>OTRA:</b>&nbsp;</label>
                          <label type="text" name="fieldOtherSchool"></label>
                        </div>
                      </div>


                      <div>
                        <label for="txtPromedio"><b>PROMEDIO:</b>&nbsp;</label>
                        <label type="text" name="fieldAverage">90</label>
                      </div>


                      <div>
                        <label for="selectCarrera">
                          <b>Carrera a Cursar:</b>&nbsp;
                        </label>
                        <label type="text" name="fieldCareer">Ing. En Sistemas Computacionales</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





            </mat-tab>

            <mat-tab label="Documentos">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      CERTIFICADO DE BACHILLERATO O EQUIVALENTE
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>



                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      ACTA DE NACIMIENTO
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      CURP
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <pdf-viewer [src]="src"></pdf-viewer>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      COPIA DEL COMPROBANTE DE PAGO DE INSCRIPCIÓN
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      RESULTADO DE ANÁLISIS CLÍNICOS
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      NÚMERO DE SEGURO SOCIAL
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <pdf-viewer [src]="nss"></pdf-viewer>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      FOTOGRAFÍA
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      FORMULARIO
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>


              </mat-accordion>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>