<mat-dialog-content class="mat-typography">

  <div class='login-block'>
    <div class="container">
      <div class='login-block'>
        <div class="container">

          <div class="row justify-content-center align-items-center">
            <div class="col-md-4 login-sec">
              <h2 class="text-center">
                Resumen
              </h2>
            </div>

          </div>

          <mat-tab-group>
            <mat-tab label="Solícitud de Inscripción">

              <br>
              <div class="card">
                <div class="card-body">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <p>
                        <b>DATOS GENERALES</b>
                      </p>


                      <div>
                        <label for="txtNombre"><b>Nombre:</b>&nbsp;</label>
                        <label type="text" id="txtNombre" name="fieldFirstName">{{fieldLastNameFather}}
                          {{fieldLastNameMother}} {{fieldFirstName}}</label>
                      </div>

                      <div>
                        <label for="txtLugarNacimiento"><b>Lugar de Nacimiento:</b>&nbsp;</label>
                        <label type="text" id="txtLugarNacimiento" name="fieldPlaceBirth">{{fieldPlaceBirth}}</label>
                      </div>


                      <div>
                        <label for="txtFecha"><b>Fecha de Nacimiento:</b>&nbsp;</label>
                        <label type="text" id="txtFecha" name="fieldDateBirth">{{fieldDateBirth}}</label>
                      </div>


                      <div>
                        <label for="selectEstadoCivil"><b>Estado Civil:</b>&nbsp;</label>
                        <label type="text" id="selectEstadoCivil" name="fieldStatusCivil">{{fieldStatusCivil}}</label>
                      </div>


                      <div>
                        <label for="txtEmail"><b>Correo Electrónico:</b>&nbsp;</label>
                        <label type="text" name="fieldEmail">{{fieldEmail}}</label>
                      </div>

                      <div>
                        <div>
                          <label for="txtCurp"><b>CURP:</b>&nbsp;</label>
                          <label type="text" name="fieldCURP">{{fieldCURP}}</label>
                        </div>
                        <div>
                          <label for="txtNSS"><b>NSS(Número de Seguro Social):</b>&nbsp;</label>
                          <label type="text" name="fieldNSS">{{fieldNSS}}</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <p>
                        <b>DIRECCIÓN</b>
                      </p>
                      <div>
                        <div>
                          <label for="txtCalle"><b>Calle:</b>&nbsp;</label>
                          <label type="text" name="fieldStreet">{{fieldStreet}}</label>
                        </div>
                        <div>
                          <label for="txtColonia"><b>Colonia:</b>&nbsp;</label>
                          <label type="text" name="fieldColony">{{fieldColony}}</label>
                        </div>
                      </div>

                      <div>
                        <div>
                          <label for="txtCiudad"><b>Ciudad:</b>&nbsp;</label>
                          <label type="text" name="fieldCity">{{fieldCity}}</label>
                        </div>
                        <div>
                          <label for="txtEstado"><b>Estado:</b>&nbsp;</label>
                          <label type="text" name="fieldState">{{fieldState}}</label>
                        </div>
                      </div>

                      <div>
                        <div>
                          <label for="txtCodigoPostal"><b>Código Postal:</b>&nbsp;</label>
                          <label type="text" name="fieldPostalCode">{{fieldPostalCode}}</label>
                        </div>
                        <div>
                          <label for="txtTelefono"><b>Teléfono:</b>&nbsp;</label>
                          <label type="text" name="fieldPhone">{{fieldPhone}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br><br>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <div>
                        <div>
                          <label for="selectEtnia"><b>¿Perteneces a alguna Etnia?</b>&nbsp;</label>
                          <label type="text" name="fieldEtnia">{{fieldEtnia}}</label>
                        </div>
                        <div>
                          <label for="txtCualEtnia"><b>¿Cuál?</b>&nbsp;</label>
                          <label type="text" name="fieldOtherEtnia">{{fieldOtherEtnia}}</label>
                        </div>
                      </div>

                      <div>
                        <div>
                          <label for="selectDiscapacidad"><b>¿Tienes alguna Discapacidad?</b>&nbsp;</label>
                          <label type="text" name="fieldDisability">{{fieldDisability}}</label>
                        </div>
                        <div>
                          <label for="txtDiscapacidad"><b>¿Cuál?</b>&nbsp;</label>
                          <label type="text" name="fieldWhichDisability">{{fieldWhichDisability}}</label>
                        </div>
                      </div>
                    </div>


                    <div class="form-group col-md-6">
                      <p>
                        <b>DATOS ACADÉMICOS</b>
                      </p>
                      <div>
                        <div>
                          <label for="selectEscuelaDeProcedencia"><b>Escuela de Procedencia:</b>&nbsp;</label>
                          <label type="text" name="fieldSchool">{{fieldSchool}}</label>
                        </div>
                        <div>
                          <label for="txtOtraEscuela"><b>OTRA:</b>&nbsp;</label>
                          <label type="text" name="fieldOtherSchool">{{fieldOtherSchool}}</label>
                        </div>
                      </div>


                      <div>
                        <label for="txtPromedio"><b>PROMEDIO:</b>&nbsp;</label>
                        <label type="text" name="fieldAverage">{{fieldAverage}}</label>
                      </div>


                      <div>
                        <label for="selectCarrera">
                          <b>Carrera a Cursar:</b>&nbsp;
                        </label>
                        <label type="text" name="fieldCareer">{{fieldCareer}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





            </mat-tab>

            <mat-tab label="Documentos">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      CERTIFICADO DE BACHILLERATO O EQUIVALENTE
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <pdf-viewer [src]="certificado"></pdf-viewer>
                  </ng-template>

                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      ACTA DE NACIMIENTO
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <pdf-viewer [src]="acta"></pdf-viewer>
                  </ng-template>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]='false'>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      CURP
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <pdf-viewer [src]="curp"></pdf-viewer>
                  </ng-template>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      COPIA DEL COMPROBANTE DE PAGO DE INSCRIPCIÓN
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <pdf-viewer [src]="comprobante"></pdf-viewer>
                  </ng-template>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      RESULTADO DE ANÁLISIS CLÍNICOS
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <pdf-viewer [src]="clinicos"></pdf-viewer>
                  </ng-template>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      NÚMERO DE SEGURO SOCIAL
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <pdf-viewer [src]="nss"></pdf-viewer>
                  </ng-template>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      FOTOGRAFÍA
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <img [src]="foto">
                  </ng-template>

                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      FORMULARIO
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <pdf-viewer [src]="formulario"></pdf-viewer>
                  </ng-template>
                </mat-expansion-panel>


              </mat-accordion>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>