<div class="container">
  <br>
  <p class="text-center">
    <b>SOLICITUD DE DOCUMENTOS</b>
  </p>
  <br>
  <br>
  <br>
  <form ref='uploadForm'
      id='uploadForm'
      action='http://localhost:3000/upload'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>
  <hr>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lblCertificado"><b>CERTIFICADO DE BACHILLERATO O EQUIVALENTE</b></label>
        <p class="help-block">(Entregar Carta Compromiso de NO tener Certificado)</p>
      </div>

        <div class="form-group col-md-6">
        <label for="FormControlFileCertificado"><b>Adjuntar un archivo</b></label>
        <input type="file" class="form-control-file" id="FormControlFileCertificado">
        <br>
        <button type="button" class="btn btn-primary" (click)="uploadFile()"
        action='http://localhost:3000/upload'
        method='post'
        encType="multipart/form-data">Enviar</button>
      </div>
    </div>

    <br>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lblActaNacimiento"><b>ACTA DE NACIMIENTO</b></label>

      </div>

      <div class="form-group col-md-6">
        <label for="FormControlFileActaNacimiento"><b>Adjuntar un archivo</b></label>
        <input type="file" class="form-control-file" id="FormControlFileActaNacimiento" name="sampleFile">
        <br>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>

    <br>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lblCURP"><b>CURP</b></label>

      </div>

      <div class="form-group col-md-6">
        <label for="FormControlFileCURP"><b>Adjuntar un archivo</b></label>
        <input type="file" class="form-control-file" id="FormControlFileCURP">
        <br>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>

    <br>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lblComprobante"><b>COPIA DEL COMPROBANTE DE PAGO DE INSCRIPCIÓN</b></label>

      </div>

      <div class="form-group col-md-6">
        <label for="FormControlFileComprobante"><b>Adjuntar un archivo</b></label>
        <input type="file" class="form-control-file" id="FormControlFileComprobante">
        <br>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>

    <br>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lblAnalisis"><b>RESULTADOS DE ANÁLISIS CLÍNICOS</b></label>

      </div>

      <div class="form-group col-md-6">
        <label for="FormControlFileAnalisis"><b>Adjuntar un archivo</b></label>
        <input type="file" class="form-control-file" id="FormControlFileAnalisis">
        <br>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>

    <footer class="page-footer font-small blue pt-4">
        <div class=" footer-copyright text-center py-3">
          <small id="">
            AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT. MÉXICO. C.P. 63175. TEL: (311) 211 94 00. DIRECCION@ITTEPIC.EDU.MX
          </small>
        </div>
      </footer>

  </form>

</div>
