<div class='login-block'>
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 login-sec">
          <h2 class="text-center">Solicitud de Documentos</h2>
      </div>
    </div>
    <!--Fila 1: Certificado Bachillerato y Acta de nacimiento-->
    <div class='row'>
      <!--Columna 1: Certificado Bachillerato-->
      <div class='col-md-6'>
        <div class='card'>
          <div class='card-header'>
            <label for="lblCertificado"><b>CERTIFICADO DE BACHILLERATO O EQUIVALENTE</b></label>
          </div>
          <div class='card-body'>
              <label><b>Nombre original de archivo: </b>{{dropzoneFileNameCERTIFICADO}}</label>
              <app-template-incorrect *ngIf='!file1'></app-template-incorrect>
              <app-template-correct *ngIf='file1'></app-template-correct>
              <dropzone id="dz0"[config]="config" [message]="'Haga click o arrastre archivos aquí para subirlos'"
              (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)" (drop)="onDrop($event)"
              (click)="dropzoneClicked()" matTooltip="Reemplazar Archivo"
              [matTooltipDisabled]="this.dropzoneFileNameCERTIFICADO==''"></dropzone>
              <app-pdf-template-certificado *ngIf='file1'></app-pdf-template-certificado>
          </div>
        </div>
      </div>
      <!--Columna 2: ACTA DE NACIMIENTO-->
      <div class='col-md-6'>
        <div class='card'>
          <div class='card-header'>
            <label for="lblCertificado"><b>ACTA DE NACIMIENTO</b></label>
          </div>
          <div class='card-body'>
            <label><b>Nombre original de archivo: </b>{{dropzoneFileNameACTA}}</label>
            <app-template-incorrect *ngIf='!file2'></app-template-incorrect>
            <app-template-correct *ngIf='file2'></app-template-correct>
            <dropzone id="dz1" [config]="config1" [message]="'Haga click o arrastre archivos aquí para subirlos'"
            (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)" (drop)="onDrop($event)"
            (click)="dropzoneClicked()" matTooltip="Reemplazar Archivo"
            [matTooltipDisabled]="this.dropzoneFileNameACTA==''"></dropzone>
            <app-pdf-template-acta *ngIf='file2'></app-pdf-template-acta>
          </div>
        </div>
      </div>
    </div>
    <!--Fila 2: CURP y COPIA DEL COMPROBANTE--><br>
    <div class='row'>
      <!--Columna 1: CURP-->
      <div class='col-md-6'>
        <div class='card'>
          <div class='card-header'>
              <label for="lblCertificado"><b>CURP</b></label>
          </div>
          <div class='card-body'>
            <label><b>Nombre original de archivo: </b>{{dropzoneFileNameCURP}}</label>
            <app-template-incorrect *ngIf='!file3'></app-template-incorrect>
            <app-template-correct *ngIf='file3'></app-template-correct>
            <dropzone id="dz2" [config]="config2" [message]="'Haga click o arrastre archivos aquí para subirlos'"
            (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)" (drop)="onDrop($event)"
            (click)="dropzoneClicked()" matTooltip="Reemplazar Archivo"
            [matTooltipDisabled]="this.dropzoneFileNameCURP==''"></dropzone>
            <app-pdf-template-curp *ngIf='file3'></app-pdf-template-curp>
          </div>
        </div>
      </div>
      <!--Columna 2: COPIA DEL COMPROBANTE-->
      <div class='col-md-6'>
        <div class='card'>
          <div class='card-header'>
            <label for="lblCertificado"><b>COPIA DEL COMPROBANTE DE PAGO DE INSCRIPCIÓN</b></label>
          </div>
          <div class='card-body'>
            <label><b>Nombre original de archivo: </b>{{dropzoneFileNameCOMPROBANTE}}</label>
            <app-template-incorrect *ngIf='!file4'></app-template-incorrect>
            <app-template-correct *ngIf='file4'></app-template-correct>
            <dropzone id="dz3" [config]="config3" [message]="'Haga click o arrastre archivos aquí para subirlos'"
              (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)" (drop)="onDrop($event)"
              (click)="dropzoneClicked()" matTooltip="Reemplazar Archivo"
              [matTooltipDisabled]="this.dropzoneFileNameCOMPROBANTE==''"></dropzone>
              <app-pdf-template-comprobante *ngIf='file4'></app-pdf-template-comprobante>
          </div>
        </div>
      </div>
    </div>
    <!--Fila 3: FOTO y Resultado de análisis--><br>
    <div class='row'>
      <!--Columna 1: RESULTADO DE ANÁLISIS-->
      <div class='col-md-6'>
        <div class='card'>
          <div class='card-header'>
            <label for="lblCertificado"><b>RESULTADO DE ANÁLISIS CLÍNICOS</b></label>
          </div>
          <div class='card-body'>
            <label><b>Nombre original de archivo: </b>{{dropzoneFileNameANALISIS}}</label>
            <app-template-incorrect *ngIf='!file5'></app-template-incorrect>
            <app-template-correct *ngIf='file5'></app-template-correct>
            <dropzone id="dz4" [config]="config4" [message]="'Haga click o arrastre archivos aquí para subirlos'"
              (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)" (drop)="onDrop($event)"
              (click)="dropzoneClicked()" matTooltip="Reemplazar Archivo"
              [matTooltipDisabled]="this.dropzoneFileNameANALISIS==''"></dropzone>
              <app-pdf-template-clinicos *ngIf='file5'></app-pdf-template-clinicos>
          </div>
        </div>
      </div>
      <!--Columna 2: FOTO-->
      <div class='col-md-6'>
        <div class='card'>
          <div class='card-header'>
            <label for="lblCertificado"><b>FOTO</b></label>
          </div>
          <div class='card-body'>
            <label><b>Nombre original de archivo: </b>{{dropzoneFileNamePhoto}}</label>
            <app-template-incorrect *ngIf='!file6'></app-template-incorrect>
            <app-template-correct *ngIf='file6'></app-template-correct>
            <dropzone id="dz5"[config]="config5" [message]="'Haga click o arrastre archivos aquí para subirlos'"
              (success)="onUploadSuccess($event)" (drop)="onDrop($event)"
              (dragEnter)="onDragEnd($event)" (error)="onError($event)"
              (click)="dropzoneClicked()" matTooltip="Reemplazar Archivo"
              [matTooltipDisabled]="this.dropzoneFileNamePhoto==''"></dropzone>
              <app-pdf-template-photo *ngIf="file6 && ((dropzoneFilePhotoNewNameExtension.substring(dropzoneFilePhotoNewNameExtension.length-3))==='png')"></app-pdf-template-photo>
              <app-pdf-template-photo-jpg *ngIf="file6 && ((dropzoneFilePhotoNewNameExtension.substring(dropzoneFilePhotoNewNameExtension.length-3))==='jpg')"></app-pdf-template-photo-jpg>
              <div *ngIf='file6' style="text-align:center;"><hr><p><b>Nombre nuevo: {{dropzoneFilePhotoNewNameExtension}}</b></p><hr></div>
          </div>
        </div>
      </div>
    </div>
    <!--Fila 4: NSS--><br>
    <div class='row'>
      <!--Columna 1: NSS-->
      <div class='col-md-6'>
          <div class='card'>
            <div class='card-header'>
              <label for="lblCertificado"><b>NSS</b></label>
            </div>
            <div class='card-body'>
              <label><b>Nombre original de archivo: </b>{{dropzoneFileNameNSS}}</label>
              <app-template-incorrect *ngIf='!file7'></app-template-incorrect>
              <app-template-correct *ngIf='file7'></app-template-correct>
              <dropzone id="dz6" [config]="config6" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)" (drop)="onDrop($event)"
                (click)="dropzoneClicked()" matTooltip="Reemplazar Archivo"
                [matTooltipDisabled]="this.dropzoneFileNameNSS==''"></dropzone>
                <app-pdf-template-nss *ngIf='file7'></app-pdf-template-nss>
            </div>
          </div>
        </div>
    </div>
    <br>
  </div>
</div>
