<mat-dialog-content class="mat-typography">
  <h2 style="text-align:center;">Detalle Alumno</h2>
  <mat-tab-group (selectedTabChange)="refreshTabContent($event)">
    <mat-tab label="Detalle Alumno">
      <br>

      <div class="card">
        <div class="card-body">
          <p>
            <b>DATOS GENERALES</b>
          </p>

          <div>
            <img [src]="foto" style="width:150px; height:150px;" class="img-rounded" alt="Responsive image">
          </div>
          <br>

          <div class="form-row">
            <div class="form-group col-xs-6 col-md-4">
              <label for="txtApellidoPaterno">APELLIDO PATERNO</label>
              <input type="text" class="form-control" id="txtApellidoPaterno" name="fieldLastNameFather" placeholder="Apellido Paterno"
                [(ngModel)]="fieldLastNameFather">
              <p id="msgError" *ngIf="(fieldLastNameFather.length < 1)">*Campo obligatorio</p>
            </div>
            <div class="form-group col-xs-6 col-md-4">
              <label for="txtApellidoMaterno">APELLIDO MATERNO</label>
              <input type="text" class="form-control" id="txtApellidoMaterno" name="fieldLastNameMother" placeholder="Apellido Materno"
                [(ngModel)]="fieldLastNameMother">
              <p id="msgError" *ngIf="(fieldLastNameMother.length < 1)">*Campo obligatorio</p>
            </div>
            <div class="form-group col-xs-6 col-md-4">
              <label for="txtNombre">NOMBRE(S)</label>
              <input type="text" class="form-control" id="txtNombre" name="fieldFirstName" placeholder="Nombre(s)"
                [(ngModel)]="fieldFirstName">
              <p id="msgError" *ngIf="(fieldFirstName.length < 1)">*Campo obligatorio</p>
            </div>

          </div>



          <br>
          <div class="form-group">
            <label for="txtLugarNacimiento">LUGAR DE NACIMIENTO</label>
            <input type="text" class="form-control" id="txtLugarNacimiento" placeholder="Lugar de Nacimiento"
              [(ngModel)]="fieldPlaceBirth" name="fieldPlaceBirth">
            <p id="msgError" *ngIf="(fieldPlaceBirth.length < 1)">*Campo obligatorio</p>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="txtFecha">FECHA DE NACIMIENTO</label>
              <input type="date" class="form-control" id="txtFecha" placeholder="Fecha de Nacimiento" [(ngModel)]="fieldDateBirth"
                name="fieldDateBirth">
              <p id="msgError" *ngIf="(fieldDateBirth.length < 1)">*Campo obligatorio</p>
            </div>

            <div class="form-group col-md-6">
              <label for="selectEstadoCivil">ESTADO CIVIL</label>
              <select class="custom-select mr-sm-2" id="selectEstadoCivil" [(ngModel)]="fieldStatusCivil" name="fieldStatusCivil">
                <option selected="Soltero">Soltero/a</option>
                <option>Comprometido/a</option>
                <option>Casado/a</option>
                <option>Divorsiado/a</option>
                <option>Viudo/a</option>

              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="txtEmail">CORREO ELECTRÓNICO</label>
            <input type="email" class="form-control" placeholder="Ingrese Correo" [(ngModel)]="fieldEmail" name="fieldEmail">
            <p id="msgError" *ngIf="(fieldEmail.length < 1)">*Campo obligatorio</p>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="txtCurp">CURP</label>
              <input type="text" class="form-control" id="txtCURP" placeholder="CURP" [(ngModel)]="fieldCURP" name="fieldCURP">
              <p id="msgError" *ngIf="(fieldCURP.length < 1)">*Campo obligatorio</p>
            </div>
            <div class="form-group col-md-6">
              <label for="txtNSS">NSS(NÚMERO DE SEGURO SOCIAL)</label>
              <input type="text" class="form-control" id="txtNSS" placeholder="NSS(Número de Seguro Social)"
                [(ngModel)]="fieldNSS" name="fieldNSS">
              <p id="msgError" *ngIf="(fieldNSS !== null)">*Campo obligatorio</p>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <p>
            <b>DIRECCIÓN</b>
          </p>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="txtCalle">CALLE</label>
              <input type="text" class="form-control" id="txtCalle" placeholder="Calle" [(ngModel)]="fieldStreet" name="fieldStreet">
              <p id="msgError" *ngIf="(fieldStreet.length < 1)">*Campo obligatorio</p>
            </div>
            <div class="form-group col-md-6">
              <label for="txtColonia">COLONIA</label>
              <input type="text" class="form-control" id="txtColonia" placeholder="Colonia" [(ngModel)]="fieldColony"
                name="fieldColony">
              <p id="msgError" *ngIf="(fieldColony.length < 1)">*Campo obligatorio</p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="txtCiudad">CIUDAD</label>
              <input type="text" class="form-control" id="txtCiudad" placeholder="Ciudad" [(ngModel)]="fieldCity" name="fieldCity">
              <p id="msgError" *ngIf="(fieldCity.length < 1)">*Campo obligatorio</p>
            </div>
            <div class="form-group col-md-6">
              <label for="txtEstado">ESTADO</label>
              <select class="form-control" id="selectEstado" [(ngModel)]="fieldState" name="fieldState">
                <option selected>Aguascalientes</option>
                <option>Baja California</option>
                <option>Baja California Sur</option>
                <option>Campeche</option>
                <option>Chiapas</option>
                <option>Chihuahua</option>
                <option>Coahuila de Zaragoza</option>
                <option>Colima</option>
                <option>Durango</option>
                <option>Estado de México</option>
                <option>Guanajuato</option>
                <option>Guerrero</option>
                <option>Hidalgo</option>
                <option>Jalisco</option>
                <option>Michoacán</option>
                <option>Morelos</option>
                <option>Nayarit</option>
                <option>Nuevo León</option>
                <option>Oaxaca</option>
                <option>Puebla</option>
                <option>Querétaro</option>
                <option>Quintana Roo</option>
                <option>San Luis Potosí</option>
                <option>Sinaloa</option>
                <option>Sonora</option>
                <option>Tabasco</option>
                <option>Tamaulipas</option>
                <option>Tlaxcala</option>
                <option>Veracruz</option>
                <option>Yucatán</option>
                <option>Zacatecas</option>

              </select>

            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="txtCodigoPostal">CÓDIGO POSTAL</label>
              <input type="text" class="form-control" id="txtCodigoPostal" placeholder="Código Postal" [(ngModel)]="fieldPostalCode"
                name="fieldPostalCode">
              <p id="msgError" *ngIf="(fieldPostalCode != null)">*Campo obligatorio</p>
            </div>
            <div class="form-group col-md-6">
              <label for="txtTelefono">TELÉFONO</label>
              <input type="text" class="form-control" id="txtTelefono" placeholder="Teléfono" [(ngModel)]="fieldPhone"
                name="fieldPhone">
              <p id="msgError" *ngIf="(fieldPhone !== null)">*Campo obligatorio</p>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectEtnia">¿PERTENECES A ALGUNA ETNIA?</label>

              <select class="form-control" id="selectEtnia" [(ngModel)]="fieldEtnia" name="fieldEtnia">
                <option selected>SI</option>
                <option>NO</option>

              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="txtCualEtnia">¿CUÁL?</label>
              <input type="text" class="form-control" id="txtCualEtnia" placeholder="Introducir ETNIA" [(ngModel)]="fieldOtherEtnia"
                name="fieldOtherEtnia">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectDiscapacidad">¿TIENES ALGUNA DISCAPACIDAD?</label>

              <select class="form-control" id="selectDiscapacidad" [(ngModel)]="fieldDisability" name="fieldDisability">
                <option selected>SI</option>
                <option>NO</option>

              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="txtDiscapacidad">¿CUÁL?</label>
              <input type="text" class="form-control" id="txtDiscapacidad" placeholder="Introducir Discapacidad"
                [(ngModel)]="fieldWhichDisability" name="fieldWhichDisability">
            </div>
          </div>

        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <p>
            <b>DATOS ACADÉMICOS:</b>
          </p>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectEscuelaDeProcedencia">ESCUELA DE PROCEDENCIA</label>

              <select class="custom-select mr-sm-2" id="selectEscuelaDeProcedencia" [(ngModel)]="fieldSchool" name="fieldSchool">

                <option selected>CONALEP</option>
                <option>CETIS</option>
                <option>CBTIS</option>
                <option>CBTa</option>
                <option>COBACH</option>
                <option>Cecyte</option>
                <option>Preparatoria</option>
                <option>Sistema Abierto</option>
                <option>Otra</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="txtOtraEscuela">OTRA</label>
              <input type="text" class="form-control" id="txtOtraEscuela" placeholder="Introducir Escuela" [(ngModel)]="fieldOtherSchool"
                name="fieldOtherSchool">
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-xs-12 col-md-8">
              <label for="txtNombreEscuela">NOMBRE DE LA ESCUELA</label>
              <input type="text" class="form-control" id="txtNombreEscuela" placeholder="Escuela" [(ngModel)]="fieldNameSchool"
                name="fieldNameSchool">
              <p id="msgError" *ngIf="(fieldNameSchool.length < 1)">*Campo obligatorio</p>
            </div>
            <div class="form-group col-xs-6 col-md-4">
              <label for="txtPromedio">PROMEDIO</label>
              <input type="number" class="form-control" id="txtPromedio" placeholder="PROMEDIO" [(ngModel)]="fieldAverage"
                name="fieldAverage" min="1" max="100" value="1">
            </div>
          </div>

          <div class="form-group">
            <label for="selectCarrera">
              <b>CARRERA A CURSAR</b>
            </label>
            <select id="selectCarrera" class="form-control" [(ngModel)]="fieldCareer" name="fieldCareer">
              <option selected>Arquitectura</option>
              <option>Ingeniería Bioquímica</option>
              <option>Ingeniería Civil</option>
              <option>Ingeniería Eléctrica</option>
              <option>Ingeniería en Gestión Empresarial</option>
              <option>Ingeniería Industrial</option>
              <option>Ingeniería Mecatrónica</option>
              <option>Ingeniería Química</option>
              <option>Ingeniería en Sistemas Computacionales</option>
              <option>Ingeniería en Tecnología de la Información y Comunicaciones</option>
              <option>Licenciatura en Administración</option>
              <option>Maestría en Tecnologías de la Información</option>
              <option>Maestría en Ciencias en Alimentos</option>
              <option>Doctorado en Ciencias en Alimentos</option>

            </select>

          </div>
        </div>
      </div>
      <br>
      <div class="right">
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="updateAlumno();">Guardar</button>
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Solícitud de Inscripción">
      <br>
      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <p>
                <b>DATOS GENERALES</b>
              </p>


              <div>
                <label for="txtNombre"><b>Nombre:</b>&nbsp;</label>
                <label type="text" id="txtNombre" name="fieldFirstName">{{fieldLastNameFather}} {{fieldLastNameMother}}
                  {{fieldFirstName}}</label>
              </div>

              <div>
                <label for="txtLugarNacimiento"><b>Lugar de Nacimiento:</b>&nbsp;</label>
                <label type="text" id="txtLugarNacimiento" name="fieldPlaceBirth">{{fieldPlaceBirth}}</label>
              </div>


              <div>
                <label for="txtFecha"><b>Fecha de Nacimiento:</b>&nbsp;</label>
                <label type="text" id="txtFecha" name="fieldDateBirth">{{fieldDateBirth}}</label>
              </div>


              <div>
                <label for="selectEstadoCivil"><b>Estado Civil:</b>&nbsp;</label>
                <label type="text" id="selectEstadoCivil" name="fieldStatusCivil">{{fieldStatusCivil}}</label>
              </div>


              <div>
                <label for="txtEmail"><b>Correo Electrónico:</b>&nbsp;</label>
                <label type="text" name="fieldEmail">{{fieldEmail}}</label>
              </div>

              <div>
                <div>
                  <label for="txtCurp"><b>CURP:</b>&nbsp;</label>
                  <label type="text" name="fieldCURP">{{fieldCURP}}</label>
                </div>
                <div>
                  <label for="txtNSS"><b>NSS(Número de Seguro Social):</b>&nbsp;</label>
                  <label type="text" name="fieldNSS">{{fieldNSS}}</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <p>
                <b>DIRECCIÓN</b>
              </p>
              <div>
                <div>
                  <label for="txtCalle"><b>Calle:</b>&nbsp;</label>
                  <label type="text" name="fieldStreet">{{fieldStreet}}</label>
                </div>
                <div>
                  <label for="txtColonia"><b>Colonia:</b>&nbsp;</label>
                  <label type="text" name="fieldColony">{{fieldColony}}</label>
                </div>
              </div>

              <div>
                <div>
                  <label for="txtCiudad"><b>Ciudad:</b>&nbsp;</label>
                  <label type="text" name="fieldCity">{{fieldCity}}</label>
                </div>
                <div>
                  <label for="txtEstado"><b>Estado:</b>&nbsp;</label>
                  <label type="text" name="fieldState">{{fieldState}}</label>
                </div>
              </div>

              <div>
                <div>
                  <label for="txtCodigoPostal"><b>Código Postal:</b>&nbsp;</label>
                  <label type="text" name="fieldPostalCode">{{fieldPostalCode}}</label>
                </div>
                <div>
                  <label for="txtTelefono"><b>Teléfono:</b>&nbsp;</label>
                  <label type="text" name="fieldPhone">{{fieldPhone}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Validación de documentos">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <p style="background-color: rgb(219, 219, 62);" selected *ngIf="dataSource.data[acordeonCertificado].status == 'En proceso'"><b>{{dataSource.data[acordeonCertificado].status}}</b></p>
              <p selected *ngIf="dataSource.data[acordeonCertificado].status == 'Rechazado'">{{dataSource.data[acordeonCertificado].status}}</p>
              <p selected *ngIf="dataSource.data[acordeonCertificado].status == 'Aceptado'" style="background-color:darkgreen;"><b>{{dataSource.data[acordeonCertificado].status}}</b></p>
              <div class="container">
                CERTIFICADO DE BACHILLERATO O EQUIVALENTE
              </div>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <pdf-viewer [src]="certificado"></pdf-viewer>
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionCertificado"
                name="observacionCertificado">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('CERTIFICADO')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>

              <p style="background-color: rgb(219, 219, 62);" selected *ngIf="dataSource.data[acordeonActa].status == 'En proceso'"><b>{{dataSource.data[acordeonActa].status}}</b></p>
              <p style="background-color: red;" selected *ngIf="dataSource.data[acordeonActa].status == 'Rechazado'">{{dataSource.data[acordeonActa].status}}</p>
              <p selected *ngIf="dataSource.data[acordeonActa].status == 'Aceptado'" style="background-color:darkgreen;"><b>{{dataSource.data[acordeonActa].status}}</b></p>

              <div class="container">
                ACTA DE NACIMIENTO
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <pdf-viewer [src]="acta"></pdf-viewer>
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionActa"
                name="observacionActa">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('ACTA')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]='false'>
          <mat-expansion-panel-header>
            <mat-panel-title>


              <p style="text-align:right;" style="background-color: rgb(219, 219, 62);" selected *ngIf="dataSource.data[acordeonCURP].status == 'En proceso'"><b>{{dataSource.data[acordeonCURP].status}}</b></p>
              <p style="background-color: red;" selected *ngIf="dataSource.data[acordeonCURP].status == 'Rechazado'">{{dataSource.data[acordeonCURP].status}}</p>
              <p style="text-align:right;" selected *ngIf="dataSource.data[acordeonCURP].status == 'Aceptado'" style="background-color:darkgreen;"><b>{{dataSource.data[acordeonCURP].status}}</b></p>

              <div class="container">
                CURP
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <pdf-viewer [src]="curp"></pdf-viewer>
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionCurp"
                name="observacionCurp">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('CURP')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>


              <p style="text-align:right;" style="background-color: rgb(219, 219, 62);" selected *ngIf="dataSource.data[acordeonPago].status == 'En proceso'"><b>{{dataSource.data[acordeonPago].status}}</b></p>
              <p style="background-color: red;" selected *ngIf="dataSource.data[acordeonPago].status == 'Rechazado'">{{dataSource.data[acordeonPago].status}}</p>
              <p style="text-align:right;" selected *ngIf="dataSource.data[acordeonPago].status == 'Aceptado'" style="background-color:darkgreen;"><b>{{dataSource.data[acordeonPago].status}}</b></p>

              <div class="container">
                COPIA DEL COMPROBANTE DE PAGO DE INSCRIPCIÓN
              </div>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <pdf-viewer [src]="comprobante"></pdf-viewer>
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionComprobante"
                name="observacionComprobante">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('COMPROBANTE')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             
              
                <p  style="background-color: rgb(219, 219, 62);" selected *ngIf="dataSource.data[acordeonClinicos].status == 'En proceso'"><b>{{dataSource.data[acordeonClinicos].status}}</b></p>
                <p  style="background-color: red;" selected *ngIf="dataSource.data[acordeonClinicos].status == 'Rechazado'">{{dataSource.data[acordeonClinicos].status}}</p>
                <p  selected *ngIf="dataSource.data[acordeonClinicos].status == 'Aceptado'"
                  style="background-color:darkgreen;"><b>{{dataSource.data[acordeonClinicos].status}}</b></p>
              

              <div class="container">
              RESULTADO DE ANÁLISIS CLÍNICOS
                </div>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <pdf-viewer [src]="clinicos"></pdf-viewer>
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionClinicos"
                name="observacionClinicos">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('CLINICOS')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              
             
                <p  style="background-color: rgb(219, 219, 62);" selected *ngIf="dataSource.data[acordeonNSS].status == 'En proceso'"><b>{{dataSource.data[acordeonNSS].status}}</b></p>
                <p  style="background-color: red;" selected *ngIf="dataSource.data[acordeonNSS].status == 'Rechazado'">{{dataSource.data[acordeonNSS].status}}</p>
                <p  selected *ngIf="dataSource.data[acordeonNSS].status == 'Aceptado'" style="background-color:darkgreen;"><b>{{dataSource.data[acordeonNSS].status}}</b></p>
             

              <div class="container">
              NÚMERO DE SEGURO SOCIAL
                </div>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <pdf-viewer [src]="nss"></pdf-viewer>
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionNss"
                name="observacionNss">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('NSS')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             

              
                <p  style="background-color: rgb(219, 219, 62);" selected *ngIf="dataSource.data[acordeonFoto].status == 'En proceso'"><b>{{dataSource.data[acordeonFoto].status}}</b></p>
                <p  style="background-color: red;" selected *ngIf="dataSource.data[acordeonFoto].status == 'Rechazado'">{{dataSource.data[acordeonFoto].status}}</p>
                <p  selected *ngIf="dataSource.data[acordeonFoto].status == 'Aceptado'" style="background-color:darkgreen;"><b>{{dataSource.data[acordeonFoto].status}}</b></p>
              

              <div class="container">
                  FOTOGRAFÍA
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <img [src]="foto">
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionFoto"
                name="observacionFoto">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('FOTO')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              FORMULARIO
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <pdf-viewer [src]="nss"></pdf-viewer>
            <h4>Status del documento</h4>
            <mat-form-field>
              <mat-select placeholder="Seleccione el status del documento" [(ngModel)]="status" name="status">
                <mat-option *ngFor="let formulario of formularios" [value]="formulario.value">
                  {{formulario.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <h4>Observación</h4>
            <mat-form-field>
              <input matInput placeholder="Introduzca una observación sobre el documento" [(ngModel)]="observacionFormulario"
                name="observacionFormulario">
            </mat-form-field>
            <div class="right">
              <div class="example-button-row">
                <button mat-raised-button (click)="validateForm('FORMULARIO')" color="primary">Guardar</button>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>


      </mat-accordion>
    </mat-tab>

    <mat-tab label="Estado de validación">
      <div class="container">

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="documentName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
              <td mat-cell *matCellDef="let row"> {{row.documentName}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
              <td mat-cell *matCellDef="let row">
                <mat-chip-list>
                  <mat-chip style="background-color: rgb(219, 219, 62);" selected *ngIf="row.status == 'En proceso'">{{row.status}}</mat-chip>
                  <mat-chip style="background-color: red;" selected *ngIf="row.status == 'Rechazado'">{{row.status}}</mat-chip>
                  <mat-chip selected *ngIf="row.status == 'Aceptado'" style="background-color:darkgreen;">{{row.status}}</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>


            <!-- Color Column -->
            <ng-container matColumnDef="observacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> observacion </th>
              <td mat-cell *matCellDef="let row"> {{row.observacion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>
<br>
<div class="right">
  <div class="example-button-row">
    <button mat-button (click)="exit()">Cancelar</button>
  </div>
</div>