<div>
  <button type="button" (click)="getAlumnos()" class="btn btn-primary btn-block  form-control">Mostrar alumnos</button>
</div>
<br>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">

  <table class="table table-striped">
    <thead>
      <th>
        Apellido paterno
      </th>
      <th>
        Apellido materno
      </th>
      <th>
        Nombre
      </th>
      <th>
        Email
      </th>
      <th>
        Carrera
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of alumnos; let i=index">
        <td>{{this.alumno.lastNameFather}}</td>
        <td>{{this.alumno.lastNameMother}}</td>
        <td>{{this.alumno.firstName}}</td>
        <td>{{this.alumno.email}}</td>
        <td>{{this.alumno.career}}</td>
        <td>
          <button type="button" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
