<div class='login-block'>
  <div class="container">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Asignacion de carreras</mat-card-title>
            <mat-card-subtitle>Designar</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let test of testData;">
              <p class="font-weight-bold">{{test.career}}</p>
              <mat-radio-group aria-label="Select an option" (change)="createAsignation(test, $event)">
                <mat-radio-button [value]="i" *ngFor="let secretary of secretaries; let i=index">
                  Secre {{i}}
                </mat-radio-button>
                <br>
              </mat-radio-group>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="updateCareerAsignation()">Asignar</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>
