<div class='login-block'>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">
          Detalle Alumno
        </h2>
      </div>
    </div>

    <mat-grid-list cols="3" rowHeight="50px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Seleccione el ciclo" [(ngModel)]="currentPeriodMonth" name="status" (selectionChange)="onChangePeriod($event)">
            <mat-option *ngFor="let mesPeriodo of mesPeriodos" [value]="mesPeriodo.value">
              {{mesPeriodo.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Seleccione el año" [(ngModel)]="currentPeriodYear" name="status" (selectionChange)="onChangePeriod($event)">
              <mat-option *ngFor="let yearPeriodo of yearPeriodos" [value]="yearPeriodo.value">
                {{yearPeriodo.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-slide-toggle [(ngModel)]="isGlobalModeEnabled" (change)="changeToGlobalMode($event)">
            <p *ngIf="isGlobalModeEnabled">Modo Global Activado</p>
            <p *ngIf="!isGlobalModeEnabled">Modo Global Desactivado</p>
          </mat-slide-toggle>
        </mat-grid-tile>
    </mat-grid-list>
    <br>
    <mat-grid-list cols="6" rowHeight="50px">
      <mat-grid-tile>
        <mat-checkbox id='ck-EnCaptura' (change)="onChange($event);" [checked]="filterA.value">En captura &nbsp;</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox id='ck-Enviado' (change)="onChange($event);" [checked]="filterB.value">Enviado &nbsp;</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox id='ck-Validado' (change)="onChange($event);" [checked]="filterC.value">Validado &nbsp;
        </mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox id='ck-Aceptado' (change)="onChange($event);" [checked]="filterD.value">Aceptado &nbsp;
        </mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile><button (click)="exportAsXLSX()" mat-button>
          <app-excel-template></app-excel-template>Descargar Excel
        </button>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-form-field>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar alumno">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Check Column -->
        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  
              <mat-checkbox (click)="markAllCurrentChecks()" [(ngModel)] = "globalCheckbox" ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox [(ngModel)] = "tableCheck[i]" [checked]="tableCheck[i]"> &nbsp;</mat-checkbox>
            </td>
        </ng-container>

        <!-- Control Number Column -->
        <ng-container matColumnDef="controlNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de Control </th>
          <td mat-cell *matCellDef="let row"> {{row.controlNumber}} </td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="completeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre completo </th>
          <td mat-cell *matCellDef="let row"> {{row.lastNameFather}} {{row.lastNameMother}} {{row.firstName}}</td>
        </ng-container>

        <!-- Career Column -->
        <ng-container matColumnDef="career">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrera </th>
          <td mat-cell *matCellDef="let row"> {{row.career}} </td>
        </ng-container>

        <!-- StatusInscription Column -->
        <ng-container matColumnDef="statusInscripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estátus </th>
          <td mat-cell *matCellDef="let row" > 
              <mat-chip-list>
                  <mat-chip style="background-color: #f7db13;" selected *ngIf="row.statusInscripcion == 'En captura'">{{row.statusInscripcion}}</mat-chip>
                  <mat-chip style="background-color: red;" selected *ngIf="row.statusInscripcion == 'Enviado'">{{row.statusInscripcion}}</mat-chip>
                  <mat-chip style="background-color: darkgreen;" selected *ngIf="row.statusInscripcion == 'Validado'">{{row.statusInscripcion}}</mat-chip>
                  <mat-chip style="background-color: rgb(3, 1, 121);" selected *ngIf="row.statusInscripcion == 'Aceptado'">{{row.statusInscripcion}}</mat-chip>
              </mat-chip-list>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>

          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="preUpdate(row.controlNumber)">
              <mat-icon>group</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(row.controlNumber)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="changeCheck(i,row)">
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <br>
      <mat-grid-list cols="4" rowHeight="50px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Observación general" [(ngModel)]="globalComment" name="status">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button color="primary" (click)="validateSelectedRows()">Validar Seleccion</button>
        </mat-grid-tile>
      </mat-grid-list>
      <br>
    </div>
  </div>
</div>