<div class="login-block">
  <div class="container">
    <br />

    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">
          Documentos
        </h2>
      </div>
    </div>



    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div style="text-align: center;">
          <img mat-card-image id="refFOTO" alt="Photo of a Shiba Inu" style="max-width: 250px; max-height: 250px" />
        </div>
      </div>

      <div class="col-3"></div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>NÚMERO DE SEGURO SOCIAL</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="text-align: justify;">
              Descarga tu número de seguro social en la página oficial del https://www.gob.mx/afiliatealimss.
            </p>
            <label id="link" name="lblNSS"><a id="refNSS" target="_blank" download="NSS.pdf">Enlace de documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>FORMULARIO</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="text-align: justify;">
              El formulario contiene la información del alumno,como datos del estudiante, datos generales, datos
              académicos.
            </p>
            <label id="link" name="lblFORMULARIO"><a id="refFORMULARIO" (click)="downloadPDF()" target="_blank">Enlace
                de documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <br><br>
    <!--$$$$$$$$$$$$$$$$$$$$FILA NUMERO UNO DE DOCUMENTOS$$$$$$$$$$$$$$$$-->
    <div class="row">
      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>CONTRATO</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Debe ser impreso y entregar firmado al momento de la inscripción.
            </p>
            <label id="link" name="lblCONTRATO"><a id="refCONTRATO" target="_blank" download="CONTRATO.pdf">Enlace de
                documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>ACTA DE NACIMIENTO</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Expedida máximo dos años anteriores a la fecha.
            </p>
            <label id="link" name="lblACTA"><a id="refACTA" target="_blank" download="ACTA.pdf">Enlace de documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <br><br>
    <!--$$$$$$$$$$$$$$$$$$$$FILA NUMERO DOS DE DOCUMENTOS$$$$$$$$$$$$$$$$-->
    <div class="row">
      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>COMPROBANTE DE PAGO</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="text-align: justify;">
              Copia del recibo de pago bancario sellado por el departamento de Recursos Financieros.
            </p>
            <label id="link" name="lblCOMPROBANTE"><a id="refCOMPROBANTE" target="_blank" download="COMPROBANTE.pdf">Enlace
                de documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>ANÁLISIS CLINICOS</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="text-align: justify;">
              Biometría Hemática, coproparasitoscópico, examen general de orina, RH y tipo de sangre.
            </p>
            <label id="link" name="lblCLINICOS"><a id="refCLINICOS" target="_blank" download="CLINICOS.pdf">Enlace
                de documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br><br>
    <!--$$$$$$$$$$$$$$$$$$$$FILA NUMERO TRES DE DOCUMENTOS$$$$$$$$$$$$$$$$-->
    <div class="row">
      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>CURP</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Descarga tu Curp de la página : https//www.gob.mx/curp.
            </p>
            <label id="link" name="lblCURP"><a id="refCURP" target="_self" download="CURP.pdf">Enlace de documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-6">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>CERTIFICADO DE BACHILLERATO</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="text-align: justify;">
              Alumnos egresados de instituciones privadas y de la Universidad Autónoma de Nayarit, deben legalizar su
              certificado en la Dirección de Profesiones de la SEMSSICyT.
            </p>
            <label id="link" name="lblCERTIFICADO"><a id="refCERTIFICADO" target="_blank" download="CERTIFICADO.pdf">Enlace
                de documento</a></label><br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>